<div class="modal-alert">
  <div class="modal-alert-overlay"></div>
  <div class="alert modal-alert-dialog">
    <p><strong>{{title}}</strong></p>
    <p>{{message}}</p>
    <div>
      <button class="btn btn-danger alert-deny-btn">{{denyLabel}}</button>
      <button class="btn alert-confirm-btn">{{confirmLabel}}</button>
    </div>
  </div>
</div>