<div class="modal-alert">
  <div class="modal-alert-overlay"></div>
  <div class="alert modal-alert-dialog">
    <p><strong>{{title}}</strong></p>
    <p>{{message}}</p>
    <button class="btn alert-confirm-btn">{{confirmLabel}}</button>
  </div>
</div>